<div class="module module--bg module--red story__take-action take-action cf">
    <header>
        <div class="indicator indicator--blue indicator--module icon icon_write"></div>
        <h3 class="hd-e module__heading">{{ take_action_header_text }}</h3>
    </header>

    <div class="take-action__inner">
        <div class="take-action__action take-action__tab">
            <h2 class="hd-l take-action__heading">{{ post.call_to_action.heading }}</h2>

            {% block action_body %}
            {% endblock %}
        </div>

        <div class="take-action__thank-you take-action__tab is-hidden" style="display: none;">
            {#<h2 class="hd-l take-action__heading">{{ post.call_to_action.thank-you-heading }}</h2>#}

            <h2 class="hd-l take-action__heading">{{ take_action_thanks_header }}</h2>

            {#<p>{{ post.call_to_action.thank-you-text }}</p>#}

            {% if nationswell_facebook or nationswell_twitter or nationswell_tumblr or nationswell_instagram or nationswell_google %}

            <p>{{ take_action_thanks_text }}</p>

            <ul class="social take-action__social">
                {% if nationswell_facebook is not empty %}
                    <li><a href="{{ nationswell_facebook }}" class="btn btn--social icon icon_facebook"></a></li>
                {% endif %}
                {% if nationswell_twitter is not empty %}
                    <li><a href="{{ nationswell_twitter }}" class="btn btn--social icon icon_twitter"></a></li>
                {% endif %}
                {% if nationswell_tumblr is not empty %}
                    <li><a href="{{ nationswell_tumblr }}" class="btn btn--social icon icon_tumblr"></a></li>
                {% endif %}
                {% if nationswell_instagram is not empty %}
                    <li><a href="{{ nationswell_instagram }}" class="btn btn--social icon icon_instagram"></a></li>
                {% endif %}
                {% if nationswell_google is not empty %}
                    <li><a href="{{ nationswell_google }}" class="btn btn--social icon icon_google-plus"></a></li>
                {% endif %}
                {#<li><a href="http://www.facebook.com/{{ post.call_to_action.facebook_username }}" class="btn btn--social icon icon_facebook"></a></li>#}
                {#<li><a href="http://www.twitter.com/{{ post.call_to_action.twitter_username }}" class="btn btn--social icon icon_twitter"></a></li>#}
                {#<li><a href="{{ post.call_to_action.tumblr }}" class="btn btn--social icon icon_tumblr"></a></li>#}
                {#<li><a href="{{ post.call_to_action.instagram }}" class="btn btn--social icon icon_instagram"></a></li>#}
                {#<li><a href="{{ post.call_to_action.google }}" class="btn btn--social icon icon_google-plus"></a></li>#}
            </ul>
            {% endif %}

            {% if nationswell_mailchimp_daily %}
            <p>{{ take_action_thanks_subscribe_text }}</p>

            <div id="mc_embed_signup">
                <form action="{{ nationswell_mailchimp_daily }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="mc-form validate" target="_blank" novalidate>
                    <div class="mc-field-group cf">
                        <div class="join-us__email icon icon_envelope">
                            <input type="email" value="" placeholder="Enter Your Email" name="EMAIL" class="required email fl" id="mc-email">
                             <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn--subscribe fl">
                            <label for="mc-email" class="mc-email-status"></label>
                        </div>
                    </div>
                </form>
            </div>
            {% endif %}

        </div>
    </div>
</div>