<!doctype html>
<html class="no-js" {{ language_attributes }}>
<head>
	 <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
     <link href="{{site_url}}/wp-content/themes/nationswell/css/allstars.css" rel="stylesheet">
	 {{wp_head}}
        
    {% block head %}
        {% include 'html-header.twig' %}
    {% endblock %}

  <!-- Social -->
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Core Hydration">
  <meta property="og:title" content="Core Hydration | Be true to your core">
  <meta property="og:url" content="http://core-hydration.com">
  <meta property="og:description" content="Stay True To The Core with Ellie Goulding and Core Hydration. #truetothecore">
  <meta property="og:image" content="http://core-hydration.com/img/facebook-ellie-goulding.jpg">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@COREdrinks">
  <meta name="twitter:creator" content="@COREdrinks">
  <meta name="twitter:title" content="Core Hydration | Be true to your core">
  <meta name="twitter:description" content="Stay True To The Core with Ellie Goulding and Core Hydration. #truetothecore">
  <meta name="twitter:image" content="http://core-hydration.com/img/twitter-ellie-goulding.jpg">
  <!-- END Social -->
  
  
</head>
<body class="{{ body_class }}" >

{% block content %}
	<header id="header-bg">
        <div class="container">
            <div class="header-logo-container">
        		<a href="{{ home }}">
                    <img id="header_logo_blue" class="ns_header_logo" src="{{site_url}}/wp-content/themes/nationswell/img/allstars_2017/nationswell_blue.png" alt="NationSwell logo">
                     <img id="header_logo_white" class="ns_header_logo" src="{{site_url}}/wp-content/themes/nationswell/img/allstars_2017/nationswell_white.png" alt="NationSwell logo">
                </a>
            </div>
            
            <a href="#ballot" class="button nominate">
                Nominate
            </a>
        </div>
    </header>

    <!-- The Modal -->
    <div id="video_allstar_modal" class="modal-allstar">

        <span class="close-modal-allstar">&times;</span>
        <!-- Modal content -->
        <div class="modal-allstar-content ">
            <iframe id="allstar_video" style="width: 100%; height: 100%; position: absolute; top: 0; bottom: 0; left: 0;" src=" " frameborder="0" allowfullscreen></iframe>
            
        </div>

    </div>
    <!-- END Modal -->

    <!-- Hero -->
    <div class="container" id="allstar_hero_background" style="background-image: url('{{ term.header_image.url }}');">
        <section id="allstar_hero">
            <div class="container">
                <div class="container" id="logo_container">
                    <h1>
                        <img class="allstar-2017-logo" src="{{site_url}}/wp-content/themes/nationswell/img/allstars_2017/allstars_logo_@2x.png" alt="Tech Impact AllStars 2017" title="Tech Impact AllStars 2017" style="">
                    </h1>
                    <a href="javascript:void(0)" id="play_allstar_btn">
                        <img class="play-btn" src="{{site_url}}/wp-content/themes/nationswell/img/allstars_2017/play_btn.svg" >
                    </a>
                </div>

                <div>
                    <div id="partner_copy">
                        <p style="float: right;">
                            in partnership with
                        </p>
                    </div>

                    <div id="partner_logo">
                        <img class="" src="{{site_url}}/wp-content/themes/nationswell/img/allstars_2017/Comcast_NBC_white.png" alt="Comcast NBC" title="Tech Impact AllStars 2017" >
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- End Hero -->

    <div class="container">
        <div class="story__sticky-mobile hide_desktop">
    
            {% if post.call_to_action is not empty %}
                <style>
                .story__sticky-mobile ul li
                {
                    width:25%;
                }
                </style>
            {% else %}
                <style>
                .story__sticky-mobile ul li
                {
                    width:33.3%;
                }
                </style>
            {% endif %}
        
                <ul>
                    <li><a href="{{ post.facebook_share_url }}" class="btn btn--nav btn--facebook btn--share icon icon_facebook" data-track='{"action": "facebook"}'>{{ facebook_button_bingo_text }}</a></li>
                    <li><a href="{{ post.twitter_share_url }}" class="btn btn--nav btn--twitter btn--share icon icon_twitter"  data-track='{"action": "twitter"}'>{{ twitter_button_bingo_text }}</a></li>
                     <li><a class="btn btn--nav btn--email icon icon_envelope" href="mailto:?subject={{ post.post_title }}&body={{ post.dek }}%0D%0A%0D%0A{{ post.permalink }}
                     %0D%0A%0D%0AMeet the people renewing America at NationSwell. Sign up for more stories here:%0D%0Ahttp://www.nationswell.com/daily-newsletter-signup/">Email</a></li>   
                    
            {% if post.call_to_action is not empty %}
                    <li><a href="#" class="btn btn--nav btn--sticky-take-action-mobile icon icon_nationswell-flag" data-modal-target="take-action" data-modal-disable="{{ modal_joinus_close_expiration }}">{{ take_action_header_text }}</a></li>
                    {% endif %}
                </ul>
        </div>
    </div>

    <div class="container">
        <div id="allstar_social_share" class="hide_mobile">
            <div>
                <div>
                    <a href="{{ post.facebook_share_url }}" class="btn btn--facebook2 btn--share btn--circle icon icon_facebook" data-track='{"action": "facebook"}'></a>
                    <a href="{{ post.twitter_share_url }}" class="btn btn--twitter2 btn--share btn--circle icon icon_twitter"  data-track='{"action": "twitter"}'></a>
                </div>

                {% if post.call_to_action is not empty %}
                {% include 'action-sidebar.twig' %}
                {% endif %}
            </div>
        </div>

        <section id="main_info">

            <h3 style="text-align: center;">
                {{ term.description }}
            </h3>

            {{ page_content }}             
        </section>
        
    </div>


    <!-- Previous AllStars -->
    
    <div class="container" style="max-width: 100% !important; padding: 0;">
        <section id="previous_allstars">
            <div class="container" id="allstars_content">
                <div id="allstar_float_container">
                    <h2>
                        Previous AllStars
                    </h2>

                    <p>
                        We’ve had the honor of working with some amazing AllStar innovators over the past three years. Visit our AllStar Archive and learn more about the extraordinary work of AllStar Alumni.
                    </p>
                    <a href="#" class="button outline-btn">
                        2016
                    </a>
                    &nbsp;
                    <a href="#" class="button outline-btn">
                        2015
                    </a>
                </div>
            </div>

            <div id="allstars_photo">
                <div id="allstar_previous_photo_container" >
                </div>
                <!-- <img src="{{site_url}}/wp-content/themes/nationswell/img/allstars_2017/past_allstars.png" style="width: 100%;"/> -->
            </div>
        </section>
    </div>
    
    <!-- END Previous AllStars -->


	{% if post.custom.allstar_finalists_will_receive_hash  %}
	<!-- Finalists -->
    <div class="container">
		<section class="finalists">
			<h2 class="title-receive">
				<span class="title-5">5</span><br>AllStar Finalists<br>will receive:
			</h2>
		{% for allstar_finalists_will_receive in post.custom.allstar_finalists_will_receive_hash %}
			<div class="finalist-benefit">
				{% if allstar_finalists_will_receive.allstar_finalists_will_receive_icon %}
					<img src="{{ allstar_finalists_will_receive.allstar_finalists_will_receive_icon.0}}" alt="{{allstar_finalists_will_receive.allstar_finalists_will_receive_icon_image_alt}}" style=""/>
                {% endif %}
                <p>
                    {{ allstar_finalists_will_receive.allstar_finalists_will_receive_description }}
                </p>
            </div>
			{% if loop.index is divisible by(3) %}
				</section>
				<section class="finalists">
			{% endif %}
		{% endfor %}
        </section>
        <p style="text-align: center;">
            For full contest rules, visit <a href="#">TKTKTKTKTKTK</a>
        </p>
    </div>
    <!-- END Finalists -->
	{% endif %}


    <!-- Ballot -->
    <div class="container">
        <section id="ballot">
            <h3 class="nom-instructions">
                We need you to help us find our next <span style="white-space: nowrap;">Tech AllStars.</span><br>Nominate someone using technology to solve America’s <span style="white-space: nowrap;">greatest challenges.</span>
            </h3>
            <div class="nominate-ballot">
                <div class="container">
                    <div class="nominate-ballot-content">
                        
                        {{ form }}
                        
                    </div>
                </div>
            </div>

        </section>
    </div>
    <!-- END Ballot -->

    <div class="container">
        <div class="story__social cf hide_mobile" data-module='{"name": "story:social"}'>
            <a href="{{ post.facebook_share_url }}" class="btn btn--bar btn--share btn--facebook icon icon_facebook" data-track='{"action": "facebook"}'>{{ facebook_button_expanded_text }}</a>
            <a href="{{ post.twitter_share_url }}" class="btn btn--bar btn--share btn--twitter icon icon_twitter" data-track='{"action": "twitter"}'>{{ twitter_button_expanded_text }}</a>
        </div>
    </div>


    <!-- In the News -->
    
    <div id="allstar_news_bg">
        <div class="container">
            <section id="allstar_news">
                <div class="container">
					{% if post.custom.allstars_in_the_news_hash  %}
                    <div class="allstar-news-block">
                        <h2>AllStars in the News</h2>

                        <div class="news-container">
                            <div class="news-article-container">

                                {% for allstars_in_the_news in post.custom.allstars_in_the_news_hash %}
                                <div class="container news-article">
                                    {% if allstars_in_the_news.allstars_in_the_news_featured_image %}
                                    <div class="news-article-photo">
                                        <img src="{{ allstars_in_the_news.allstars_in_the_news_featured_image.0}}" alt="{{allstars_in_the_news.allstars_in_the_news_featured_image_image_alt}}" style="float: left;" />
                                    </div>
									{% endif %}
                                    <div class="news-article-content">
                                        <p>
                                        {% if allstars_in_the_news.allstars_in_the_news_link %}
											<a href="{{ allstars_in_the_news.allstars_in_the_news_link }}" target="_BLANK">{{ allstars_in_the_news.allstars_in_the_news_title }}</a>
                                        {% else %}
											{{ allstars_in_the_news.allstars_in_the_news_title }}
                                        {% endif %}
                                        </p>
                                        <p>
                                            {{ allstars_in_the_news.allstars_in_the_news_excerpt }}
                                        </p>
                                    </div>
                                </div>
								{% endfor %}
                            </div>
                        </div>

                    </div>
					{% endif %}
                    <div class="allstar-news-block">
                        <h2>#TechImpactAllStars</h2>
                        <div class="twitter-container">
                        <a class="twitter-timeline"  href="https://twitter.com/hashtag/TechImpactAllStars" data-widget-id="859440516840251393" width="100%" height="100%" border-color:"#FFFFFF" data-chrome="nofooter noheader">#TechImpactAllStars Tweets</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                        </div>
                    </div>
                </div>
                
            </section>
        </div>
    </div>
    <!-- END In the News -->

    <!-- start footer -->
    <div class="footer-container">
        <div class="container">
            
            <div class="footer-allstar-logo">
                <img class="ns_header_logo" src="{{site_url}}/wp-content/themes/nationswell/img/allstars_2017/nationswell_grey.png" alt="NationSwell logo">
                 
            </div>
			{% if footer_links  %}
            <div class="footer-allstar-links">
                <ul>
					{% for link in footer_links %}
                    <li>
                        <a href="{{link.url}}">{{link.title}}</a>
                    </li>
					{% endfor %}
                </ul>
            </div>
           {% endif %}
        </div>
    
        <div class="container">
        	
             <p class="footer-copyright"><small>All content &#169; {{ current_year }} NationSwell. All rights reserved.</small></p>
        </div>
    </div>
    <!-- //end footer -->
	
	 
	 <script>
    window.addEventListener('scroll', function () {
      document.body.classList[
        window.scrollY > 100 ? 'add': 'remove'
      ]('scrolled');
    });
	</script>

	<script>
    
    (function($) {
        // Get the modal
        var modal = $('#video_allstar_modal');

        // Get the button that opens the modal
        var btn = $("#play_allstar_btn");

        // Get the <span> element that closes the modal
        var closebtn = $(".close-modal-allstar");

        // When the user clicks the button, open the modal 
        btn.click(function() {
          $( modal ).fadeIn( "normal", function() {
            // Animation complete
            $('#allstar_video').attr("src", "https://www.youtube.com/embed/ByeF5HljIL4?autoplay=1");
            
          });
        });

        // When the user clicks on <span> (x), close the modal
        closebtn.click(function() {
            modal.fadeOut( "fast", function() {
                $('#allstar_video').attr("src", " ");
            });
        });

        // When the user clicks anywhere outside of the modal, close it
        $(window).click(function(event) {
            var target = $( event.target );
            if ( target.is(modal) ) {
                    modal.fadeOut( "fast", function() {
                    $('#allstar_video').attr("src", " ");
                });
            }
        });

    })( jQuery );

	</script>

	<script>
    (function($) {
        $('a[href^="#"]').on('click',function (e) {
            e.preventDefault();

            var target = this.hash;
            var $target = $(target);

            $('html, body').stop().animate({
                'scrollTop': $target.offset().top
            }, 900, 'swing', function () {
                window.location.hash = target;
            });
        });
    })( jQuery );
	</script>

	<script src="{{ static_dir }}/js/build/{{ js_main }}"></script>
	
	{{wp_footer}}
	
	{% endblock %}
</body>
</html>      
          

