<!doctype html>
<html class="no-js" {{ language_attributes }}>
<head>
	 <link href="https://fonts.googleapis.com/css?family=Montserrat:700|Roboto:300" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="/wp-content/themes/nationswell/css/1704-FTAAML.css">
     <link href="/wp-content/themes/nationswell/css/allstars.css" rel="stylesheet">

    
    {% block head %}
        {% include 'html-header.twig' %}
    {% endblock %}


</head>
<body class="{{ body_class }}" >


{% block content %}
	<header id="header-bg">
        <div class="container">
            <div class="header-logo-container">
        		<a href="{{ home }}">
                    <img id="header_logo_blue" class="ns_header_logo" src="/wp-content/themes/nationswell/img/allstars_2017/nationswell_blue.png" alt="NationSwell logo">
                     <img id="header_logo_white" class="ns_header_logo" src="/wp-content/themes/nationswell/img/allstars_2017/nationswell_white.png" alt="NationSwell logo">
                </a>
            </div>
            
            <a href="#ballot" class="button nominate" style="float: right;">
                Nominate
            </a>
            <!-- {% if button_link %} -->
                <!-- <div class="location icon icon_marker_v2"><span>{{ button_link }}</span></div> -->
            <!-- {% endif %} -->
        </div>
    </header>

    <!-- Hero -->
    <section id="allstar_hero">
        <div class="container">
            <div class="container" id="logo_container">
                <h1>
                    <img class="allstar-2017-logo" src="/wp-content/themes/nationswell/img/allstars_2017/allstars_logo_@2x.png" alt="Tech Impact AllStars 2017" title="Tech Impact AllStars 2017" style="">
                </h1>
                <a href="#nominate">
                    <img class="play-btn" src="/wp-content/themes/nationswell/img/allstars_2017/play_btn.svg" >
                </a>
            </div>

            <div class="container">
                <div id="partner_copy">
                    <p style="float: right;">
                        in partnership with
                    </p>
                </div>

                <div id="partner_logo">
                    <img class="" src="/wp-content/themes/nationswell/img/allstars_2017/Comcast_NBC_white.png" alt="Comcast NBC" title="Tech Impact AllStars 2017" >
                </div>
            </div>
        </div>
        
    </section>
    <!-- End Hero -->
<div class="container"></div>

    <div class="container">

        <section id="main_info">
            <h3 style="text-align: center;">
                Who’s using technology to solve America’s greatest challenges? Tell us who should be a Tech Impact AllStar! 
            </h3>

            {{ page_content }}
            
             
        </section>
        
    </div>


    <!-- Previous AllStars -->
    
    <div class="container" style="max-width: 100% !important; padding: 0;">
        <section id="previous_allstars">
            <div class="container" id="allstars_content">
                <div id="allstar_float_container">
                    <h2>
                        Previous AllStars
                    </h2>

                    <p>
                        We’ve had the honor of working with some amazing AllStar innovators over the past three years. Visit our AllStar Archive and learn more about the extraordinary work of AllStar Alumni.
                    </p>
                    <a href="#" class="button outline-btn">
                        2016
                    </a>
                    &nbsp;
                    <a href="#" class="button outline-btn">
                        2015
                    </a>
                </div>
            </div>

            <div id="allstars_photo">
                <div id="allstar_previous_photo_container" >
                </div>
                <!-- <img src="/wp-content/themes/nationswell/img/allstars_2017/past_allstars.png" style="width: 100%;"/> -->
            </div>
        </section>
    </div>
    
    <!-- END Previous AllStars -->



    <!-- Finalists -->
    <div class="container">
        <section class="finalists">
            <h2 class="title-receive">
                <span class="title-5">5</span><br>AllStar Finalists<br>will receive:
            </h2>

            <div class="container">
                <div class="finalist-benefit">
                    <img src="/wp-content/themes/nationswell/img/allstars_2017/benefits_video_@2x.png" style=""/>
                    <p>
                        One 3-5 minute video about their incredible work, produced by our award-winning journalists
                    </p>
                </div>

                <div class="finalist-benefit">
                    <img src="/wp-content/themes/nationswell/img/allstars_2017/benefits_article_@2x.png" style=""/>
                    <p>
                        One 700-900 word feature article to accompany the video spotlight
                    </p>
                </div>

                <div class="finalist-benefit">
                    <img src="/wp-content/themes/nationswell/img/allstars_2017/benefits_media_@2x.png" style=""/>
                    <p>
                        Targeted distribution of the above to prominent media outlets, bloggers, influencers, and more
                    </p>
                </div>
            </div>
            
            <div class="container">
                <div class="finalist-benefit">
                    <img src="/wp-content/themes/nationswell/img/allstars_2017/benefits_nyc_@2x.png" style=""/>
                    <p>
                        An all-expense-paid trip to New York City
                    </p>
                </div>

                <div class="finalist-benefit">
                    <img src="/wp-content/themes/nationswell/img/allstars_2017/benefits_speaking_@2x.png" style=""/>
                    <p>
                        A speaking slot at the NationSwell Summit on Solutions
                    </p>
                </div>

                <div class="finalist-benefit">
                    <img src="/wp-content/themes/nationswell/img/allstars_2017/benefits_grant_@2x.png" style=""/>
                    <p>
                        A chance to win the Tech Impact Award, a $10,000 grant to help further their important work
                    </p>
                </div>
            </div>

        </section>

        <p style="text-align: center;">
            For full contest rules, visit <a href="#">TKTKTKTKTKTK</a>
        </p>
    </div>
    <!-- END Finalists -->



    <!-- Ballot -->
    <div class="container">
        <section id="ballot">
            <h3 class="nom-instructions">
                We need you to help us find our next <span style="white-space: nowrap;">Tech AllStars.</span><br>Nominate someone using technology to solve America’s <span style="white-space: nowrap;">greatest challenges.</span>
            </h3>
            <div class="nominate-ballot">
                <div class="container">
                    <div class="nominate-ballot-content">
                        
                        {{ form }}
                        
                    </div>
                </div>
            </div>

            
        </section>
    </div>
    <!-- END Ballot -->


    <!-- In the News -->
    
    <div id="allstar_news_bg">
        <div class="container">
            <section id="allstar_news">
                <div class="container">
                    <div class="allstar-news-block">
                        <h2>AllStars in the News</h2>

                        <div class="news-container">
                            <div class="news-article-container">
                                <div class="container news-article">
                                    <div class="news-article-photo">
                                        <img src="http://placehold.it/80x80" style="float: left;" />
                                    </div>

                                    <div class="news-article-content">
                                        <p>Raj Karmani - Zero Percent</p>
                                        <p>
                                            Zero Percent turns to crowdfunding to prevent food waste
                                        </p>
                                    </div>
                                </div>

                                <div class="container news-article">
                                    <div class="news-article-photo">
                                        <img src="http://placehold.it/80x80" style="float: left;" />
                                    </div>

                                    <div class="news-article-content">
                                        <p>Raj Karmani - Zero Percent</p>
                                        <p>
                                            Zero Percent turns to crowdfunding to prevent food waste
                                        </p>
                                    </div>
                                </div>

                                <div class="container news-article">
                                    <div class="news-article-photo">
                                        <img src="http://placehold.it/80x80" style="float: left;" />
                                    </div>

                                    <div class="news-article-content">
                                        <p>Raj Karmani - Zero Percent</p>
                                        <p>
                                            Zero Percent turns to crowdfunding to prevent food waste
                                        </p>
                                    </div>
                                </div>

                                <div class="container news-article">
                                    <div class="news-article-photo">
                                        <img src="http://placehold.it/80x80" style="float: left;" />
                                    </div>

                                    <div class="news-article-content">
                                        <p>Raj Karmani - Zero Percent</p>
                                        <p>
                                            Zero Percent turns to crowdfunding to prevent food waste
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="allstar-news-block">
                        <h2>#TechImpactAllStars</h2>
                        <div class="twitter-container">
                            <a class="twitter-timeline"  href="https://twitter.com/hashtag/creativemornings" data-widget-id="847858352931692544" width="100%" height="100%" border-color:"#FFFFFF" data-chrome="nofooter noheader">#creativemornings Tweets</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                        </div>
                    </div>
                </div>
                
            </section>
        </div>
    </div>
    <!-- END In the News -->


    <!-- start footer -->
    <div class="footer-container">
        <div class="container">
            
            <div class="footer-allstar-logo">
                <img class="ns_header_logo" src="/wp-content/themes/nationswell/img/allstars_2017/nationswell_grey.png" alt="NationSwell logo">
                 
            </div>

            <div class="footer-allstar-links">
                <ul>
                    <li>
                        Home
                    </li>
                    <li>
                        About Us
                    </li>
                    <li>
                        NationSwell Council
                    </li>
                    <li>
                        Contact Us
                    </li>
                    <li>
                        Privacy Policy
                    </li>
                    <li>
                        Terms of Service
                    </li>
                    <li>
                        Work With Us
                    </li>
                </ul>
            </div>
            
        </div>
    
        <div class="container">
             <p class="footer-copyright"><small>All content &#169; {{ current_year }} NationSwell. All rights reserved.</small></p>
        </div>
    </div>
    <!-- //end footer -->

</body>        
             <!-- <a href="{{ nationswell_facebook }}" target="_blank" data-track='{"label": "facebook"}' class="icon icon_facebook"></a> &nbsp;  
            <a href="{{ nationswell_twitter }}" target="_blank" data-track='{"label": "twitter"}' class="icon icon_twitter"></a> -->
    


<script>
    window.addEventListener('scroll', function () {
      document.body.classList[
        window.scrollY > 100 ? 'add': 'remove'
      ]('scrolled');
    });
</script>

{% endblock %}




