<!doctype html>
<html class="no-js" {{ language_attributes }}>
<head>
	 <link href="https://fonts.googleapis.com/css?family=Montserrat:700|Roboto:300" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="{{site_url}}/wp-content/themes/nationswell/css/1704-FTAAML.css">
     <link href="{{site_url}}/wp-content/themes/nationswell/css/allstars.css" rel="stylesheet">

    
    {% block head %}
        {% include 'html-header.twig' %}
    {% endblock %}


</head>
<body class="{{ body_class }}" >

{% block content %}
	<header id="header-bg">
        <div class="container">
            <div class="header-logo-container">
        		<a href="{{ home }}">
                    <img id="header_logo_blue" class="ns_header_logo" src="{{site_url}}/wp-content/themes/nationswell/img/allstars_2017/nationswell_blue.png" alt="NationSwell logo">
                     <img id="header_logo_white" class="ns_header_logo" src="{{site_url}}/wp-content/themes/nationswell/img/allstars_2017/nationswell_white.png" alt="NationSwell logo">
                </a>
            </div>
            
            <a href="#ballot" class="button nominate" style="float: right;">
                Nominate
            </a>
            <!-- {% if button_link %} -->
                <!-- <div class="location icon icon_marker_v2"><span>{{ button_link }}</span></div> -->
            <!-- {% endif %} -->
        </div>
    </header>

    <!-- Hero -->
    <section id="allstar_hero">
        <div class="container">
            <div class="container" id="logo_container">
                <h1>
                    <img class="allstar-2017-logo" src="{{site_url}}/wp-content/themes/nationswell/img/allstars_2017/allstars_logo_@2x.png" alt="Tech Impact AllStars 2017" title="Tech Impact AllStars 2017" style="">
                </h1>
                <a href="#nominate">
                    <img class="play-btn" src="{{site_url}}/wp-content/themes/nationswell/img/allstars_2017/play_btn.svg" >
                </a>
            </div>

            <div class="container">
                <div id="partner_copy">
                    <p style="float: right;">
                        in partnership with
                    </p>
                </div>

                <div id="partner_logo">
                    <img class="" src="{{site_url}}/wp-content/themes/nationswell/img/allstars_2017/Comcast_NBC_white.png" alt="Comcast NBC" title="Tech Impact AllStars 2017" >
                </div>
            </div>
        </div>
        
    </section>
    <!-- End Hero -->
<div class="container"></div>

    <div class="container">

        <section id="main_info">
            <h3 style="text-align: center;">
                {{ term.description }}
            </h3>

            {{ page_content }}
            
             
        </section>
        
    </div>


    <!-- Previous AllStars -->
    
    <div class="container" style="max-width: 100% !important; padding: 0;">
        <section id="previous_allstars">
            <div class="container" id="allstars_content">
                <div id="allstar_float_container">
                    <h2>
                        Previous AllStars
                    </h2>

                    <p>
                        We’ve had the honor of working with some amazing AllStar innovators over the past three years. Visit our AllStar Archive and learn more about the extraordinary work of AllStar Alumni.
                    </p>
                    <a href="#" class="button outline-btn">
                        2016
                    </a>
                    &nbsp;
                    <a href="#" class="button outline-btn">
                        2015
                    </a>
                </div>
            </div>

            <div id="allstars_photo">
                <div id="allstar_previous_photo_container" >
                </div>
                <!-- <img src="/wp-content/themes/nationswell/img/allstars_2017/past_allstars.png" style="width: 100%;"/> -->
            </div>
        </section>
    </div>
    
    <!-- END Previous AllStars -->


	{% if post.custom.allstar_finalists_will_receive_hash  %}
	<!-- Finalists -->
    <div class="container">
		<section class="finalists">
			<h2 class="title-receive">
				<span class="title-5">5</span><br>AllStar Finalists<br>will receive:
			</h2>
		{% for allstar_finalists_will_receive in post.custom.allstar_finalists_will_receive_hash %}
			<div class="finalist-benefit">
				{% if allstar_finalists_will_receive.allstar_finalists_will_receive_icon %}
					<img src="{{ allstar_finalists_will_receive.allstar_finalists_will_receive_icon.0}}" alt="{{allstar_finalists_will_receive.allstar_finalists_will_receive_icon_image_alt}}" style=""/>
                {% endif %}
                <p>
                    {{ allstar_finalists_will_receive.allstar_finalists_will_receive_description }}
                </p>
            </div>
			{% if loop.index is divisible by(3) %}
				</section>
				<section class="finalists">
			{% endif %}
		{% endfor %}
        </section>
        <p style="text-align: center;">
            For full contest rules, visit <a href="#">TKTKTKTKTKTK</a>
        </p>
    </div>
    <!-- END Finalists -->
	{% endif %}


    <!-- Ballot -->
    <div class="container">
        <section id="ballot">
            <h3 class="nom-instructions">
                We need you to help us find our next <span style="white-space: nowrap;">Tech AllStars.</span><br>Nominate someone using technology to solve America’s <span style="white-space: nowrap;">greatest challenges.</span>
            </h3>
            <div class="nominate-ballot">
                <div class="container">
                    <div class="nominate-ballot-content">
                        
                        {{ form }}
                        
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- END Ballot -->

    <!-- In the News -->
    
    <div id="allstar_news_bg">
        <div class="container">
            <section id="allstar_news">
                <div class="container">
					{% if post.custom.allstars_in_the_news_hash  %}
                    <div class="allstar-news-block">
                        <h2>AllStars in the News</h2>

                        <div class="news-container">
                            <div class="news-article-container">

                                {% for allstars_in_the_news in post.custom.allstars_in_the_news_hash %}
                                <div class="container news-article">
                                    {% if allstars_in_the_news.allstars_in_the_news_featured_image %}
                                    <div class="news-article-photo">
                                        <img src="{{ allstars_in_the_news.allstars_in_the_news_featured_image.0}}" alt="{{allstars_in_the_news.allstars_in_the_news_featured_image_image_alt}}" style="float: left;" />
                                    </div>
									{% endif %}
                                    <div class="news-article-content">
                                        <p>
                                        {% if allstars_in_the_news.allstars_in_the_news_link %}
											<a href="{{ allstars_in_the_news.allstars_in_the_news_link }}" target="_BLANK">{{ allstars_in_the_news.allstars_in_the_news_title }}</a>
                                        {% else %}
											{{ allstars_in_the_news.allstars_in_the_news_title }}
                                        {% endif %}
                                        </p>
                                        <p>
                                            {{ allstars_in_the_news.allstars_in_the_news_excerpt }}
                                        </p>
                                    </div>
                                </div>
								{% endfor %}
                            </div>
                        </div>

                    </div>
					{% endif %}
                    <div class="allstar-news-block">
                        <h2>#TechImpactAllStars</h2>
                        <div class="twitter-container">
                            <a class="twitter-timeline"  href="https://twitter.com/hashtag/creativemornings" data-widget-id="847858352931692544" width="100%" height="100%" border-color:"#FFFFFF" data-chrome="nofooter noheader">#creativemornings Tweets</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                        </div>
                    </div>
                </div>
                
            </section>
        </div>
    </div>
    <!-- END In the News -->

    <!-- start footer -->
    <div class="footer-container">
        <div class="container">
            
            <div class="footer-allstar-logo">
                <img class="ns_header_logo" src="/wp-content/themes/nationswell/img/allstars_2017/nationswell_grey.png" alt="NationSwell logo">
                 
            </div>
			{% if footer_links  %}
            <div class="footer-allstar-links">
                <ul>
					{% for link in footer_links %}
                    <li>
                        <a href="{{link.url}}">{{link.title}}</a>
                    </li>
					{% endfor %}
                </ul>
            </div>
           {% endif %}
        </div>
    
        <div class="container">
             <p class="footer-copyright"><small>All content &#169; {{ current_year }} NationSwell. All rights reserved.</small></p>
        </div>
    </div>
    <!-- //end footer -->

</body>        
             <!-- <a href="{{ nationswell_facebook }}" target="_blank" data-track='{"label": "facebook"}' class="icon icon_facebook"></a> &nbsp;  
            <a href="{{ nationswell_twitter }}" target="_blank" data-track='{"label": "twitter"}' class="icon icon_twitter"></a> -->
    


<script>
    window.addEventListener('scroll', function () {
      document.body.classList[
        window.scrollY > 100 ? 'add': 'remove'
      ]('scrolled');
    });
</script>

{% endblock %}




