{% extends "archive.twig" %}

{% block header %}

    <div class="hero hero--archive hero--author">
        <div class="container">
            <div class="author__a">
                {#<img src="{{ post.author.mug_shot.url|resize(134,134) }}" class="author__portrait">#}
                <img src="http://lorempixel.com/230/230/people" class="author__portrait">

                <div class="author__contact">
                    {#<a href="{{ post.author.user_url }}" class="author__url">{{ post.author.display_url }}</a>#}
                    <a href="#" class="author__url">www.catcheny.com</a>

                    <ul class="author__social">
                        {#{% if post.author.facebook is not empty %}
                            <li><a href="http://www.facebook.com/{{ post.author.facebook }}" class="icon icon_facebook"></a></li>
                        {% endif %}
                        {% if post.author.twitter is not empty %}
                            <li><a href="http://www.twitter.com/{{ post.author.twitter }}" class="icon icon_twitter"></a></li>
                        {% endif %}
                        {% if post.author.tumblr is not empty %}
                            <li><a href="{{ post.author.tumblr }}" class="icon icon_tumblr"></a></li>
                        {% endif %}#}

                        <li><a href="#" class="btn btn--social icon icon_facebook"></a></li>
                        <li><a href="#" class="btn btn--social icon icon_twitter"></a></li>
                        <li><a href="#" class="btn btn--social icon icon_google-plus"></a></li>
                        <li><a href="#" class="btn btn--social icon icon_instagram"></a></li>
                        <li><a href="#" class="btn btn--social icon icon_tumblr"></a></li>
                    </ul>
                </div>
            </div>

            <div class="author__b">
                <div class="author__count">26 Stories by</div>
                <div class="author__name hd-q">General Electric</div>

                <p class="author__bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in consequat enim. Aliquam iaculis porta ornare. Nunc rutrum id elit et consectetur. Duis purus sem, faucibus egestas sem at, tempor posuere enim. Donec non elementum eros, a dictum ligula. Praesent sagittis, justo in imperdiet vestibulum, erat arcu.</p>
            </div>
        </div>
    </div>

{% endblock %}