<!doctype html>
<html class="no-js" {{ language_attributes }}>
<head>
    {% block head %}
        {% include 'html-header.twig' %}
    {% endblock %}
</head>
<body class="{{ body_class }}" data-source="base.twig">

<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=283384575022710";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

{% include 'panel-more-stories.twig' %}

<div id="page-wrapper">
    {#<div id="top-leaderboard" class="ad ad--leaderboard hide_mobile">#}
        {#<div class="ad__container">#}
            {#<img src="http://placehold.it/728x90"/>#}
        {#</div>#}
    {#</div>#}

    {% include 'nav.twig' %}

    {% include 'trending-topics.twig' %}

    <main id="page-content" role="main">
        {% block content %}
            Sorry, no content
        {% endblock %}
    </main>

    {% include 'footer.twig' %}
</div>

{% block modals %}
{% if modal_joinus_enabled is not empty %}
    {% include 'modal-joinus.twig' %}
{% endif %}

{% include 'modal.twig' %}
{% endblock %}

{{ wp_footer }}

{% block body_includes %}

<script src="/{{ theme_dir }}/js/build/combined.min.js?{{ version }}"></script>

<script type="text/javascript">
    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/client:plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>

<script type='text/javascript'>
    var _sf_async_config={};
    /** CONFIGURATION START **/
    _sf_async_config.uid = 52361;
    _sf_async_config.domain = 'nationswell.wpengine.com';
    _sf_async_config.useCanonical = true;
    _sf_async_config.sections = 'Change this to your Section name';  //CHANGE THIS
    _sf_async_config.authors = 'Change this to your Author name';    //CHANGE THIS
    /** CONFIGURATION END **/
    (function(){
        function loadChartbeat() {
            window._sf_endpt=(new Date()).getTime();
            var e = document.createElement('script');
            e.setAttribute('language', 'javascript');
            e.setAttribute('type', 'text/javascript');
            e.setAttribute('src', '//static.chartbeat.com/js/chartbeat.js');
            document.body.appendChild(e);
        }
        var oldonload = window.onload;
        window.onload = (typeof window.onload != 'function') ?
                loadChartbeat : function() { oldonload(); loadChartbeat(); };
    })();
</script>
{% endblock %}

</body>
</html>