<meta charset="{{ bloginfo('charset') }}"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{{ wp_title }}</title>

<meta name="description" content="{{ bloginfo('description') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href='http://fonts.googleapis.com/css?family=Gudea:400,700,400italic|Oswald:400,700|Montserrat:400,700|Noto+Serif:400,700'
      rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="{{ stylesheet_uri }}" type="text/css" media="screen"/>
{# TODO: Integrate these files into the theme#}

{# TEMP: Mobile-only style construction #}
<link rel="stylesheet" type="text/css" media="screen" href="/{{ theme_dir }}/css/mobile.css"/>

{#<link rel="stylesheet" type="text/css" media="screen and (max-device-width: 767px)" href="/{{ theme_dir }}/css/mobile.css"/>
<link rel="stylesheet" type="text/css" media="screen and (min-device-width: 768px) and (max-device-width: 1199px)" href="/{{ theme_dir }}/css/tablet.css"/>
<link rel="stylesheet" type="text/css" media="screen and (min-device-width: 1200px)" href="/{{ theme_dir }}/css/desktop.css"/>#}


<script src="/wp-content/themes/nationswell/js/vendor/modernizr-2.6.2.min.js"></script>

<link rel="pingback" href="{{ bloginfo('pingback_url') }}"/>
{{ function('wp_head') }}