{% extends "base.twig" %}

{% block content %}

    {% if featured %}
        <div class="hero hero--homepage hero--grid mobile-carousel mobile-carousel--hero">
        {% for feature in featured %}
            <div class="hero__entry hero__entry--{{ loop.index }}" style="background-image: url({{ feature.thumbnail.src|resize(1300,600) }});">
                <a href="{{ feature.permalink }}" class="link-wrapper">
                    <article class="story story--hero z1">
                        <span class="rubric">{{ feature.category }}</span>
                        <h1 class="hd-{{ loop.index == 1 ? 'a' : 'b' }} story__hed">{{ feature.post_title }}</h1>

                        <div class="support-cause support-cause--hero z2">
                            <h4 class="hd-c support-cause__heading">Support this cause</h4>

                            <div class="support-cause__content">
                                <span class="support-cause__data">45<sup class="super">%</sup></span>
                                <span class="support-cause__label">from goal</span>

                                <span class="support-cause__separator icon icon_separator"></span>

                                <span class="support-cause__data">4</span>
                                <span class="support-cause__label">days to go</span>
                            </div>
                        </div>

                    </article>
                </a>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    <div class="river river--one-col">
        <div class="container">
            <ul class="story-teases">
                {% for post in posts|slice(0, 3) %}
                    <li>{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}</li>
                {% endfor %}
            </ul>

            <div class="sidebar">
                {#<div class="ad ad--300 hide_mobile">#}
                    {#<div class="ad__container">#}
                        {#<img src="http://placehold.it/300x600"/>#}
                    {#</div>#}
                {#</div>#}

                {% include 'widget-joinus.twig' %}
            </div>
        </div>
    </div>

    <div class="carousel carousel--full-width carousel--series mobile-carousel mobile-carousel--peek">
        <ul class="carousel__items">
            {% for series in series_carousel %}
                <li class="carousel-item">
                    <a href="{{ series.permalink }}" class="link-wrapper">
                        <div class="carousel--series__images cf">
                            {% for post in series_carousel.posts %}
                            <div class="carousel--series__image" style="background-image: url({{ post.thumbnail.src|resize(1300, 600) }});"></div>
                            {% endfor %}
                        </div>

                        <div class="carousel-item__overlay v-align">
                            <div class="v-align__inner v-align__inner--bottom">
                                <div class="indicator indicator--blue indicator--title indicator--text icon icon_series">
                                    <h5 class="indicator__heading">Series</h5>
                                    <h5 class="indicator__subheading">{{ series.count }} Stories</h5>
                                </div>

                                <h2 class="hd-f carousel-item__title hide_mobile"><span>{{ series.name }}</span></h2>
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>

        <h3 class="mobile-carousel__caption show_mobile hd-h"></h3>

        <ul class="carousel__controls">
            <li class="carousel__control carousel__control--prev">
                <a class="icon icon_arrow-circle-left"></a>
            </li>

            <li class="carousel__control carousel__control--next">
                <a class="icon icon_arrow-circle-right"></a>
            </li>
        </ul>
    </div>

    <div class="river river--one-col">
        <div class="container">
            <ul class="story-teases">
                {% for post in posts|slice(3, 3) %}
                    <li>{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}</li>
                {% endfor %}
            </ul>

            <div class="sidebar">
                {#<div class="ad ad--300 hide_mobile">#}
                    {#<div class="ad__container">#}
                        {#<img src="http://placehold.it/300x250"/>#}
                    {#</div>#}
                {#</div>#}

                {#<div class="module module--list module--sidebar from-our-partners">#}
                    {#<h3 class="hd-g module__heading">From Our Partners</h3>#}

                    {#<ul class="story-list cf">#}
                        {#<li><article class="story story--link">#}
                                {#<a href="#" class="link-wrapper">#}
                                    {#<header class="story__header">#}
                                        {#<h4 class="hd-h story__hed">8 States Teaming Up to Support Electric Cars</h4>#}
                                        {#<span class="source source--nyt">The New York Times</span>#}
                                    {#</header>#}
                                {#</a>#}
                            {#</article></li>#}

                        {#<li><article class="story story--link">#}
                                {#<a href="#" class="link-wrapper">#}
                                    {#<header class="story__header">#}
                                        {#<h4 class="hd-h story__hed">Why Hiking The Age For Medicare Eligibility Wouldn't Save Much</h4>#}
                                        {#<span class="source source--npr">NPR</span>#}
                                    {#</header>#}
                                {#</a>#}
                            {#</article></li>#}

                        {#<li><article class="story story--link">#}
                                {#<a href="#" class="link-wrapper">#}
                                    {#<header class="story__header">#}
                                        {#<h4 class="hd-h story__hed">America's Mood Map: An Interactive Guide to the United States of Attitude</h4>#}
                                        {#<span class="source source--time">Time Magazine</span>#}
                                    {#</header>#}
                                {#</a>#}
                            {#</article></li>#}

                        {#<li><article class="story story--link">#}
                                {#<a href="#" class="link-wrapper">#}
                                    {#<header class="story__header">#}
                                        {#<h4 class="hd-h story__hed">10 Actions You Can Take Today to Reduce Your Carbon Footprint</h4>#}
                                        {#<span class="source source--mashable">Mashable</span>#}
                                    {#</header>#}
                                {#</a>#}
                            {#</article></li>#}
                    {#</ul>#}
                {#</div>#}
            </div>
        </div>
    </div>

    <div class="carousel carousel--full-width carousel--peek mobile-carousel mobile-carousel--peek">
        <ul class="carousel__items">
            {% for post in stories_carousel %}
                <li class="carousel-item"><a href="{{ post.permalink }}" class="link-wrapper">
                        <div class="carousel--peek__image" style="background-image: url({{ post.thumbnail.src|resize(1300,600) }});"></div>

                        <div class="carousel-item__overlay v-align">
                            <div class="v-align__inner v-align__inner--bottom">
                                <div class="indicator indicator--blue indicator--title icon icon_camera hide_mobile"></div>
                                <h2 class="hide_mobile hd-f carousel-item__title hide_mobile"><span>{{ post.post_title }}</span></h2>
                            </div>
                        </div>
                    </a></li>
            {% endfor %}
        </ul>

        <div class="mobile-carousel__external-container container show_mobile">
            <a href="#" class="link-wrapper">
                <div class="indicator indicator--blue indicator--title icon icon_camera"></div>
                <h3 class="carousel-item__title hd-p"></h3>
            </a>
         </div>

        <ul class="carousel__controls hide_mobile">
            <li class="carousel__control carousel__control--prev">
                <a class="icon icon_arrow-circle-left"></a>
            </li>

            <li class="carousel__control carousel__control--next">
                <a class="icon icon_arrow-circle-right"></a>
            </li>
        </ul>
    </div>

    <div class="river river--one-col">
        <div class="container">
            <ul class="story-teases">
                {% for post in posts|slice(6, 2) %}
                    <li>{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}</li>
                {% endfor %}
            </ul>

            <div class="sidebar">
                <div class="module module--image-overlay module--sidebar featured-story cf" style="background-image: url(http://lorempixel.com/1366/767);">
                    <article class="story story--tease story--featured">
                        <a href="#" class="link-wrapper">
                            <header class="story__header">
                                <span class="rubric">Environment</span>
                                <h2 class="hd-d story__hed">A Renewable Energy Tax Credit May Die At The End Of This Year</h2>
                                <p class="story__dek">A tax credit promoting wind energy and other renewables is set to die at the end of the year, and for the moment there's no obvious way to resurrect it.</p>
                            </header>

                            <div class="sponsor">Presented by <img src="/{{ theme_dir }}/img/sponsor_gm.png" class="sponsor__logo"/></div>
                        </a>
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}