{% extends "base.twig" %}

{% block content %}

    {% if featured %}
    <div class="hero hero--homepage hero--grid mobile-carousel mobile-carousel--hero">
        {% for feature in featured %}
            <div class="hero__entry hero__entry--{{ loop.index }}" style="background-image: url({{ feature.thumbnail.src|resize(1300,600) }});">
                <a href="{{ feature.permalink }}" class="link-wrapper">
                    <article class="story story--hero z1">
                        <span class="rubric">{{ feature.category }}</span>
                        <h1 class="hd-{{ loop.index == 1 ? 'a' : 'b' }} story__hed">{{ feature.tout_title }}</h1>

                        {#<div class="support-cause support-cause--hero z2">
                            <h4 class="hd-c support-cause__heading">Support this cause</h4>

                            <div class="support-cause__content">
                                <span class="support-cause__data">45<sup class="super">%</sup></span>
                                <span class="support-cause__label">from goal</span>

                                <span class="support-cause__separator icon icon_separator"></span>

                                <span class="support-cause__data">4</span>
                                <span class="support-cause__label">days to go</span>
                            </div>
                        </div>#}

                    </article>
                </a>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    <div class="river river--one-col">
        <div class="container">
            <ul class="story-teases">
                {% for post in posts|slice(0, 3) %}
                    <li class="cf">{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}</li>
                {% endfor %}
            </ul>

            <div class="sidebar">
                {{ sidebar_homepage_1 }}
            </div>
        </div>
    </div>

    {% if series_carousel %}
    {% include 'carousel-series.twig' %}
    {% endif %}

    <div class="river river--one-col">
        <div class="container">
            <ul class="story-teases">
                {% for post in posts|slice(3, 3) %}
                    <li class="cf">{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}</li>
                {% endfor %}
            </ul>

            <div class="sidebar">
                {{ sidebar_homepage_2 }}

                {#<div class="module module--list module--sidebar from-our-partners">#}
                    {#<h3 class="hd-g module__heading">From Our Partners</h3>#}

                    {#<ul class="story-list cf">#}
                        {#<li><article class="story story--link">#}
                                {#<a href="#" class="link-wrapper">#}
                                    {#<header class="story__header">#}
                                        {#<h4 class="hd-h story__hed">8 States Teaming Up to Support Electric Cars</h4>#}
                                        {#<span class="source source--nyt">The New York Times</span>#}
                                    {#</header>#}
                                {#</a>#}
                            {#</article></li>#}

                        {#<li><article class="story story--link">#}
                                {#<a href="#" class="link-wrapper">#}
                                    {#<header class="story__header">#}
                                        {#<h4 class="hd-h story__hed">Why Hiking The Age For Medicare Eligibility Wouldn't Save Much</h4>#}
                                        {#<span class="source source--npr">NPR</span>#}
                                    {#</header>#}
                                {#</a>#}
                            {#</article></li>#}

                        {#<li><article class="story story--link">#}
                                {#<a href="#" class="link-wrapper">#}
                                    {#<header class="story__header">#}
                                        {#<h4 class="hd-h story__hed">America's Mood Map: An Interactive Guide to the United States of Attitude</h4>#}
                                        {#<span class="source source--time">Time Magazine</span>#}
                                    {#</header>#}
                                {#</a>#}
                            {#</article></li>#}

                        {#<li><article class="story story--link">#}
                                {#<a href="#" class="link-wrapper">#}
                                    {#<header class="story__header">#}
                                        {#<h4 class="hd-h story__hed">10 Actions You Can Take Today to Reduce Your Carbon Footprint</h4>#}
                                        {#<span class="source source--mashable">Mashable</span>#}
                                    {#</header>#}
                                {#</a>#}
                            {#</article></li>#}
                    {#</ul>#}
                {#</div>#}
            </div>
        </div>
    </div>

    {% if stories_carousel %}
    {% include 'carousel-stories.twig' %}
    {% endif %}

    <div class="river river--one-col">
        <div class="container">
            <ul class="story-teases">
                {% for post in posts|slice(6, 2) %}
                    <li class="cf">{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}</li>
                {% endfor %}
            </ul>

            <div class="sidebar">
                {{ sidebar_homepage_3 }}
                {#<div class="module module--image-overlay module--sidebar featured-story cf" style="background-image: url(http://lorempixel.com/1366/767);">#}
                    {#<article class="story story--tease story--featured">#}
                        {#<a href="#" class="link-wrapper">#}
                            {#<header class="story__header">#}
                                {#<span class="rubric">Environment</span>#}
                                {#<h2 class="hd-d story__hed">A Renewable Energy Tax Credit May Die At The End Of This Year</h2>#}
                                {#<p class="story__dek">A tax credit promoting wind energy and other renewables is set to die at the end of the year, and for the moment there's no obvious way to resurrect it.</p>#}
                            {#</header>#}

                            {#<div class="sponsor">Presented by <img src="/{{ theme_dir }}/img/sponsor_gm.png" class="sponsor__logo"/></div>#}
                        {#</a>#}
                    {#</article>#}
                {#</div>#}
            </div>
        </div>
    </div>
    {% if more %}
        <div class="btn-container">
            <a href="#" class="btn btn--load-more icon icon_load-more">Load more</a>
        </div>
    {% endif %}

{% endblock %}