{% extends "base.twig" %}

{% block content %}
    {% if featured is not empty %}
    <div class="hero hero--homepage hero--grid mobile-carousel mobile-carousel--single">
        {% for post in featured %}
            <div class="hero__entry hero__entry--{{ loop.index }}" style="background-image: url({{ post.thumbnail.src|resize(1300,600) }});">
                <a href="{{ post.permalink }}" class="link-wrapper">
                    {% if loop.index == 1 and post.content_type in ['video','audio','photo','listory'] %}
                            <div class="type-indicator-container">
                                <span class="icon icon_{{ post.content_type }} type-indicator"></span>
                            </div>
                    {% endif %}
                    
                    <article class="story story--hero z1">
                        {#<span class="rubric">{{ post.category }}</span>#}
                        <h1 class="hd-{{ loop.index == 1 ? 'a' : 'b' }} story__hed">{{ post.tout_title }}</h1>

                        {% if post.call_to_action is not empty %}
                            {% include ['action-stats-'~post.call_to_action.type~'.twig', 'action-stats.twig'] %}
                        {% endif %}

                        {% if loop.index == 1 and post.thumbnail.credit is not empty %}
                            <span class="credit">{{ post.thumbnail.credit }}</span>
                        {% endif %}
                    </article>
                </a>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    <div class="river river--one-col">
        <div class="container">
            <ul class="story-teases">
                {% for post in posts|slice(0, 3) %}
                    <li class="cf">{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}</li>
                {% endfor %}
            </ul>

            <div class="sidebar">
                {{ sidebar_homepage_1 }}
            </div>
        </div>
    </div>

    {% if series_carousel is not empty %}

        {% include 'carousel-series.twig' %}

    {% elseif stories_carousel_b is not empty %}

        {% set vars = {'stories_carousel': stories_carousel_b} %}
        {% include 'carousel-stories.twig' with vars only %}

    {% endif %}

    <div class="river river--one-col">
        <div class="container">
            <ul class="story-teases">
                {% for post in posts|slice(3, 3) %}
                    <li class="cf">{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}</li>
                {% endfor %}
            </ul>

            <div class="sidebar">
                {{ sidebar_homepage_2 }}

                {#<div class="module module--list module--sidebar from-our-partners">#}
                    {#<h3 class="hd-g module__heading">From Our Partners</h3>#}

                    {#<ul class="story-list cf">#}
                        {#<li><article class="story story--link">#}
                                {#<a href="#" class="link-wrapper">#}
                                    {#<header class="story__header">#}
                                        {#<h4 class="hd-h story__hed">8 States Teaming Up to Support Electric Cars</h4>#}
                                        {#<span class="source source--nyt">The New York Times</span>#}
                                    {#</header>#}
                                {#</a>#}
                            {#</article></li>#}

                        {#<li><article class="story story--link">#}
                                {#<a href="#" class="link-wrapper">#}
                                    {#<header class="story__header">#}
                                        {#<h4 class="hd-h story__hed">Why Hiking The Age For Medicare Eligibility Wouldn't Save Much</h4>#}
                                        {#<span class="source source--npr">NPR</span>#}
                                    {#</header>#}
                                {#</a>#}
                            {#</article></li>#}

                        {#<li><article class="story story--link">#}
                                {#<a href="#" class="link-wrapper">#}
                                    {#<header class="story__header">#}
                                        {#<h4 class="hd-h story__hed">America's Mood Map: An Interactive Guide to the United States of Attitude</h4>#}
                                        {#<span class="source source--time">Time Magazine</span>#}
                                    {#</header>#}
                                {#</a>#}
                            {#</article></li>#}

                        {#<li><article class="story story--link">#}
                                {#<a href="#" class="link-wrapper">#}
                                    {#<header class="story__header">#}
                                        {#<h4 class="hd-h story__hed">10 Actions You Can Take Today to Reduce Your Carbon Footprint</h4>#}
                                        {#<span class="source source--mashable">Mashable</span>#}
                                    {#</header>#}
                                {#</a>#}
                            {#</article></li>#}
                    {#</ul>#}
                {#</div>#}
            </div>
        </div>
    </div>

    {% if stories_carousel is not empty %}
        {% include 'carousel-stories.twig' %}
    {% endif %}

    <div class="river river--one-col">
        <div class="container">
            <ul class="story-teases">
                {% for post in posts|slice(6) %}
                    <li class="cf">{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}</li>
                {% endfor %}
            </ul>

            <div class="sidebar">
                {{ sidebar_homepage_3 }}
                {#<div class="module module--image-overlay module--sidebar featured-story cf" style="background-image: url(http://lorempixel.com/1366/767);">#}
                    {#<article class="story story--tease story--featured">#}
                        {#<a href="#" class="link-wrapper">#}
                            {#<header class="story__header">#}
                                {#<span class="rubric">Environment</span>#}
                                {#<h2 class="hd-d story__hed">A Renewable Energy Tax Credit May Die At The End Of This Year</h2>#}
                                {#<p class="story__dek">A tax credit promoting wind energy and other renewables is set to die at the end of the year, and for the moment there's no obvious way to resurrect it.</p>#}
                            {#</header>#}

                            {#<div class="sponsor">Presented by <img src="/{{ theme_dir }}/img/sponsor_gm.png" class="sponsor__logo"/></div>#}
                        {#</a>#}
                    {#</article>#}
                {#</div>#}
            </div>
        </div>
    </div>

    {% if more %}
        <div class="btn-container">
            <a href="{{ more }}" class="btn btn--load-more icon icon_load-more">{{ load_more_button_text }}</a>
        </div>
    {% endif %}

{% endblock %}