{% if function("is_user_logged_in") %}
<div class="member-nav hide_mobile">
    <div class="container">
        <ul class="member-nav__list">
            <li><a href="{{bp.root_domain}}/members/{{loggedin_user_user_nicename}}/activity/" class="member-nav__item {% if bp.unfiltered_uri[0] == 'members' and  bp.unfiltered_uri|length > 1  %}current{% endif %}">Member Home</a></li>
            <li><a href="{{bp.BuddyPressdata.root_domain}}/members/" class="member-nav__item {% if bp.unfiltered_uri[0] == 'members' and bp.unfiltered_uri|length == 1 %}current{% endif %}">Member Directory</a></li>
        </ul>
        <ul class="member-nav__icons">
            <li><a href="{{bp.root_domain}}/faq" class="member-nav__item icon icon_question" title="FAQ"></a></li>
            <li><a href="{{bp.root_domain}}/members/{{loggedin_user_user_nicename}}/settings/" class="member-nav__item icon icon_settings" title="Settings"></a></li>
            <li><a href="#" class="member-nav__item icon icon_alert notification" title="Notifications">{% if bp_total_new_count > 0 %}<span>{{ bp_total_new_count }}</span>{% endif %}</a></li>
            <li><a href="{{ function('wp_logout_url') }}" class="member-nav__item icon icon_logout" title="Log out"></a></li>
        </ul>
    </div>
</div>
<div class="container">
	{% if bp_new_mention_count > 0 or bp_unread_notification_count > 0 %}
	<div id="popup-counter" class="popup counter" style="display:none;">
		<div class="icon icon_caret-up"></div>
        <ul class="popup__list">
			<li>You have:</li>
            {% if bp_new_mention_count > 0 %}
			<li><a href="{{bp.root_domain}}/members/{{loggedin_user_user_nicename}}/activity/">{{ bp_new_mention_count }} new mentions</a></li>
			{% endif %}
			{% if bp_unread_notification_count > 0 %}
            <li><a href="{{bp.root_domain}}/members/{{loggedin_user_user_nicename}}/messages/">{{ bp_unread_notification_count }} new messages</a></li>
			{% endif %}
        </ul>
	</div>
	{% endif %}
</div>
<script>
jQuery(document).ready(function(){
	jQuery(".member-nav li .notification, #popup-counter").hover(function() {
    	jQuery('#popup-counter').fadeIn('fast')
	},function() {
        setTimeout(function() {
        if(!(jQuery('#popup-counter:hover').length > 0))
            jQuery('#popup-counter').fadeOut('fast');
        }, 300);
    });  
});
</script>
{% endif %}