{% if function("is_user_logged_in") %}
<div class="member-nav hide_mobile">
    <div class="container">
        <ul class="member-nav__list">
            <li><a href="{{ bp.bp_options_nav.activity['just-me']['link']}}" class="member-nav__item">Member Home</a></li>
            <li><a href="{{bp.BuddyPressdata.root_domain}}/members/" class="member-nav__item">Member Directory</a></li>
        </ul>
        <ul class="member-nav__icons">
            <li><a href="#" class="member-nav__item icon icon_question" title="FAQ"></a></li>
            <li><a href="{{ bp.bp_options_nav.settings.general.link}}" class="member-nav__item icon icon_settings" title="Settings"></a></li>
            <li><a href="{{ bp.bp_options_nav.notifications.unread.link}}" class="member-nav__item icon icon_alert notification" title="Notifications"><span>{{ bp_total_new_count }}</span></a></li>
            <li><a href="{{ function('wp_logout_url') }}" class="member-nav__item icon icon_logout" title="Log out"></a></li>
        </ul>
    </div>
</div>
<div class="container">
	<div id="popup-counter" class="popup counter" style="display:none;">
		<div class="icon icon_caret-up"></div>
        <ul class="popup__list">
            <li>You have {{ bp_new_mention_count }} new mentions</li>
            <li>You have {{ bp_unread_notification_count }} new messages</li>
        </ul>
	</div>
</div>
<script>
jQuery( ".member-nav li .notification" ).hover(function() {
	jQuery( '#popup-counter' ).show();
}, function() {
    jQuery( '#popup-counter' ).hide();
  }
);
</script>
{% endif %}