{% verbatim %}
<div id="nsc-directory" ng-controller="directoryController as directory">

    <div id="directory-nav">
        <div id="member-title" class="hd-l">Members<div id="border-left"></div></div>
        <div id="directory-tabs">
            <ul>
                <li ng-class="{ active:directory.isSet(1) }"><a href ng-click="directory.setTab(1)">A-E</a></li>
                <li ng-class="{ active:directory.isSet(2) }"><a href ng-click="directory.setTab(2)">F-J</a></li>
                <li ng-class="{ active:directory.isSet(3) }"><a href ng-click="directory.setTab(3)">K-O</a></li>
                <li ng-class="{ active:directory.isSet(4) }"><a href ng-click="directory.setTab(4)">P-T</a></li>
                <li ng-class="{ active:directory.isSet(5) }"><a href ng-click="directory.setTab(5)">U-Z</a></li>
            </ul>
        </div>
    </div>
    <div class="contacts" ng-show="directory.isSet(0)">
        <ul>
            <li ng-repeat="contact in allContacts">
                <div class="contact-info">
                    <img ng-src="{{ contact.image.sizes.thumbnail }}" class="contact__portrait">
                    <div class="about-contact">
                        <h1 class="hd-n">{{ contact.name }}</h1>
                        <div class="bio-content" ng-bind-html="contact.bio | sanitize"></div>
                        <div class="contact-interests" ng-show="contact.interests.length > 0">Interests: {{ contact.interests }}</div>
                        <div class="contact-social">
                            <div class="contact-email icon icon_envelope" ng-show="contact.email.length > 0">{{ contact.email }}</div>
                            <div class="contact-linkedin icon icon_linkedin" ng-show="contact.linkedin.length > 0">{{ contact.linkedin }}</div>
                            <div class="contact-twitter icon icon_twitter" ng-show="contact.twitter.length > 0">{{ contact.twitter }}</div>
                            <div class="contact-phone icon icon_mobile" ng-show="contact.phone.length > 0">{{ contact.phone }}</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="contacts" ng-show="directory.isSet(1)">
        <ul>
            <li ng-repeat="contact in AtoE">
                <div class="contact-info">
                    <img ng-src="{{ contact.image.sizes.thumbnail }}" class="contact__portrait">
                    <div class="about-contact">
                        <h1 class="hd-n">{{ contact.name }}</h1>
                        <div class="bio-content" ng-bind-html="contact.bio | sanitize"></div>
                        <div class="contact-interests" ng-show="contact.interests.length > 0">Interests: {{ contact.interests }}</div>
                        <div class="contact-social">
                            <div class="contact-email icon icon_envelope" ng-show="contact.email.length > 0">{{ contact.email }}</div>
                            <div class="contact-linkedin icon icon_linkedin" ng-show="contact.linkedin.length > 0">{{ contact.linkedin }}</div>
                            <div class="contact-twitter icon icon_twitter" ng-show="contact.twitter.length > 0">{{ contact.twitter }}</div>
                            <div class="contact-phone icon icon_mobile" ng-show="contact.phone.length > 0">{{ contact.phone }}</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="contacts" ng-show="directory.isSet(2)">
        <ul>
            <li ng-repeat="contact in FtoJ">
                <div class="contact-info">
                    <img ng-src="{{ contact.image.sizes.thumbnail }}" class="contact__portrait">
                    <div class="about-contact">
                        <h1 class="hd-n">{{ contact.name }}</h1>
                        <div class="bio-content" ng-bind-html="contact.bio | sanitize"></div>
                        <div class="contact-interests" ng-show="contact.interests.length > 0">Interests: {{ contact.interests }}</div>
                        <div class="contact-social">
                            <div class="contact-email icon icon_envelope" ng-show="contact.email.length > 0">{{ contact.email }}</div>
                            <div class="contact-linkedin icon icon_linkedin" ng-show="contact.linkedin.length > 0">{{ contact.linkedin }}</div>
                            <div class="contact-twitter icon icon_twitter" ng-show="contact.twitter.length > 0">{{ contact.twitter }}</div>
                            <div class="contact-phone icon icon_mobile" ng-show="contact.phone.length > 0">{{ contact.phone }}</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="contacts" ng-show="directory.isSet(3)">
        <ul>
            <li ng-repeat="contact in KtoO">
                <div class="contact-info">
                    <img ng-src="{{ contact.image.sizes.thumbnail }}" class="contact__portrait">
                    <div class="about-contact">
                        <h1 class="hd-n">{{ contact.name }}</h1>
                        <div class="bio-content" ng-bind-html="contact.bio | sanitize"></div>
                        <div class="contact-interests" ng-show="contact.interests.length > 0">Interests: {{ contact.interests }}</div>
                        <div class="contact-social">
                            <div class="contact-email icon icon_envelope" ng-show="contact.email.length > 0">{{ contact.email }}</div>
                            <div class="contact-linkedin icon icon_linkedin" ng-show="contact.linkedin.length > 0">{{ contact.linkedin }}</div>
                            <div class="contact-twitter icon icon_twitter" ng-show="contact.twitter.length > 0">{{ contact.twitter }}</div>
                            <div class="contact-phone icon icon_mobile" ng-show="contact.phone.length > 0">{{ contact.phone }}</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="contacts" ng-show="directory.isSet(4)">
        <ul>
            <li ng-repeat="contact in PtoT">
                <div class="contact-info">
                    <img ng-src="{{ contact.image.sizes.thumbnail }}" class="contact__portrait">
                    <div class="about-contact">
                        <h1 class="hd-n">{{ contact.name }}</h1>
                        <div class="bio-content" ng-bind-html="contact.bio | sanitize"></div>
                        <div class="contact-interests" ng-show="contact.interests.length > 0">Interests: {{ contact.interests }}</div>
                        <div class="contact-social">
                            <div class="contact-email icon icon_envelope" ng-show="contact.email.length > 0">{{ contact.email }}</div>
                            <div class="contact-linkedin icon icon_linkedin" ng-show="contact.linkedin.length > 0">{{ contact.linkedin }}</div>
                            <div class="contact-twitter icon icon_twitter" ng-show="contact.twitter.length > 0">{{ contact.twitter }}</div>
                            <div class="contact-phone icon icon_mobile" ng-show="contact.phone.length > 0">{{ contact.phone }}</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="contacts" ng-show="directory.isSet(5)">
        <ul>
            <li ng-repeat="contact in UtoZ">
                <div class="contact-info">
                    <img ng-src="{{ contact.image.sizes.thumbnail }}" class="contact__portrait">
                    <div class="about-contact">
                        <h1 class="hd-n">{{ contact.name }}</h1>
                        <div class="bio-content" ng-bind-html="contact.bio | sanitize"></div>
                        <div class="contact-interests" ng-show="contact.interests.length > 0">Interests: {{ contact.interests }}</div>
                        <div class="contact-social">
                            <div class="contact-email icon icon_envelope" ng-show="contact.email.length > 0">{{ contact.email }}</div>
                            <div class="contact-linkedin icon icon_linkedin" ng-show="contact.linkedin.length > 0">{{ contact.linkedin }}</div>
                            <div class="contact-twitter icon icon_twitter" ng-show="contact.twitter.length > 0">{{ contact.twitter }}</div>
                            <div class="contact-phone icon icon_mobile" ng-show="contact.phone.length > 0">{{ contact.phone }}</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endverbatim %}