<div class="more-stories-drawer hide_desktop">
    <div class="drawer-unit">
        <a href="/" class="site-logo site-logo--slogan">
            <img src="{{ theme_dir }}/img/site-logo.png" alt="NationSwell Logo"/>
            <span class="slogan">Meet the people renewing America</span>
        </a>

        <form action="#" method="post">
            <ul id="page-search" class="search">
                <li><label for="panel-search" class="icon icon_search z1">&nbsp;</label></li>
                <li><input type="text" id="panel-search" name="s" placeholder="{{ nav_search_placeholder_text }}"></li>
            </ul>
        </form>
    </div>

    <div class="drawer-unit drawer-unit--dark">
        <div class="categories">
            <h3 class="hd-r categories__heading">All Topics</h3>

            <ul class="categories__list">
            {% for item in menu_main.get_items %}
                <li><a class="categories__category"href="{{item.get_path}}">{{item.title}}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>

    {% if menu_topic.name is not empty %}
    <div class="drawer-unit drawer-unit">
        <div class="trending-topics">
            <h3 class="hd-r trending-topics__heading">Trending</h3>

            <ul class="trending-topics__list">
            {% for item in menu_topic.get_items %}
                <li><a href="{{item.get_path}}" class="trending-topics__topic">{{item.title}}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
	
	{% if function("is_user_logged_in") %}
    <div class="drawer-unit drawer-unit--member-nav">
        <div class="trending-topics">
            <h3 class="hd-r trending-topics__heading">Member Access</h3>

            <ul class="trending-topics__list">
           		<li><a href="{{bp.root_domain}}/members/{{loggedin_user_user_nicename}}/activity/" class="member-nav__item {% if bp.unfiltered_uri[0] == 'members' and  bp.unfiltered_uri|length > 1  %}current{% endif %}">Member Home</a></li>
				<li><a href="{{bp.BuddyPressdata.root_domain}}/members/" class="member-nav__item {% if bp.unfiltered_uri[0] == 'members' and bp.unfiltered_uri|length == 1 %}current{% endif %}">Member Directory</a></li>
				<li><a href="{{bp.root_domain}}/faq" class="member-nav__item" title="FAQ">FAQs</a></li>
				<li><a href="{{bp.root_domain}}/members/{{loggedin_user_user_nicename}}/settings/" class="member-nav__item" title="Settings">Settings</a></li>
				{% if bp_total_new_count > 0 %}
				<li class="notifications"><a href="#" class="member-nav__item notifications-item" title="Notifications"><span class="label">Notifications</span> <span class="count">{{ bp_total_new_count }}</span></a>
					<ul class="submenu">
						{% if bp_new_mention_count > 0 %}
						<li>&#8594; <a href="{{bp.root_domain}}/members/{{loggedin_user_user_nicename}}/activity/mentions/#activity-stream">{{ bp_new_mention_count }} new mention{% if bp_new_mention_count > 1 %}s{% endif %}</a></li>
						{% endif %}
						{% if bp_new_message_count > 0 %}
						<li>&#8594; <a href="{{bp.root_domain}}/members/{{loggedin_user_user_nicename}}/messages/#ns-messages">{{ bp_new_message_count }} new message{% if bp_new_message_count > 1 %}s{% endif %}</a></li>
						{% endif %}
					</ul>
				</li>		
				{% endif %}
				<li><a href="{{ function('wp_logout_url') }}" class="member-nav__item" title="Log out">Log out</a></li>
            </ul>
        </div>
    </div>
    {% endif %}

    {#<div class="drawer-unit drawer-unit--dark">
        <ul class="social-links">
            <li><a href="#" class="icon icon_facebook social-links__link"></a></li>
            <li><a href="#" class="icon icon_twitter social-links__link"></a></li>
            <li><a href="#" class="icon icon_envelope social-links__link"></a></li>
        </ul>
    </div>#}
</div>