{% extends "base.twig" %}

{% block content %}
    {% include 'hero.twig' %}

    <div class="story__container">
        <div class="container">
            <div class="story__sticky hide_mobile">
                <div class="story__sticky-container">
                    <div class="sticky-social">
                        <a href="{{ post.facebook_share_url }}" class="btn btn--facebook btn--share btn--square icon icon_facebook">{{ facebook_button_bingo_text }}</a>
                        <a href="{{ post.twitter_share_url }}" class="btn btn--twitter btn--share btn--square icon icon_twitter">{{ twitter_button_bingo_text }}</a>
                    </div>

                    {% if post.call_to_action is not empty %}
                    {% include 'action-sidebar.twig' %}
                    {% endif %}
                </div>
            </div>

            <main class="story__main-column" role="main">
                <article class="story story--page">
                    <header>
                        <ul class="story__meta">
                            <li>{{ category_prefix_text }} <a href="{{ post.category.url }}">{{ post.category }}</a></li>
                            <li>{{ byline_prefix_text }} {{ post.coauthors }} on {{ post.post_date|date('F j, Y') }}</li>
                        </ul>

                        <h1 class="hd-j story__hed">{{ post.post_title }}</h1>
                        <h3 class="hd-k story__dek">{{ post.dek }}</h3>
                    </header>

                    <div class="story__content">
                        {{post.get_content}}
                    </div>
                </article>

                {#<div class="story__tags">#}
                    {#<ul class="tags-list">#}
                        {#{% for  category in post.categories %}#}
                            {#<li><a href="{{ category.link }}" class="tag-tag">{{ category.name }}</a></li>#}
                    {#{%  endfor %}#}
                    {#</ul>#}
                {#</div>#}

                {% if post.author is not empty %}
                {% include 'author-box.twig' %}
                {% endif %}

                {% if post.call_to_action is not empty %}
                    {% include ['action-'~post.call_to_action.type~'.twig', 'empty.twig'] %}
                {% endif %}
                
                <div class="story__social cf">
                    <a href="{{ post.facebook_share_url }}" class="btn btn--bar btn--share btn--facebook icon icon_facebook">{{ facebook_button_expanded_text }}</a>
                    <a href="{{ post.twitter_share_url }}" class="btn btn--bar btn--share btn--twitter icon icon_twitter">{{ twitter_button_expanded_text }}</a>
                </div>

                {% include('comments.twig') %}

                <ul class="prev-next cf">
                    {% if post.next is not empty %}
                        <li>
                            <article class="story story--link">
                                <a href="{{ post.prev.permalink }}" class="link-wrapper">
                                    <div class="prev-next__link prev-next__link--prev cf">
                                        <span class="icon icon_arrow-circle-left fl"></span> Previous Story
                                    </div>
                                    <h4 class="hd-o story__hed">{{ post.prev.post_title }}</h4>
                                </a>
                            </article>
                        </li>
                    {%  endif %}
                    {% if post.next is not empty %}
                        <li>
                            <article class="story story--link">
                                <a href="{{ post.next.permalink }}" class="link-wrapper">
                                    <div class="prev-next__link prev-next__link--next cf">
                                        <span class="icon icon_arrow-circle-right fr"></span> Next Story
                                    </div>
                                    <h4 class="hd-o story__hed">{{ post.next.post_title }}</h4>
                                </a>
                            </article>
                        </li>
                    {%  endif %}
                </ul>
            </main>

            <div class="sidebar hide_mobile">
                {{ sidebar_story }}
            </div>
        </div>
    </div>

    {% if post.more_stories is not empty %}
    {% include 'more-stories.twig' %}
    {% endif %}

    {% if(flyout_social_enabled) %}
    {% include 'flyout.twig' %}
    {% endif %}

{% endblock %}

{% block modals %}
    {% include('modal-action.twig') %}
    {{ parent() }}
{% endblock %}