{% extends "base.twig" %}

{% block content %}
    {% include 'hero.twig' %}

    <div class="story__container">
        <div class="container">
            <div class="story__sticky hide_mobile">
                <div class="story__sticky-container">
                    <div class="sticky-social">
                        <a href="{{ post.facebook_share_url }}" class="btn btn--facebook btn--square icon icon_facebook">Share</a>
                        <a href="{{ post.twitter_share_url }}" class="btn btn--twitter btn--square icon icon_twitter">Tweet</a>
                    </div>

                    <div class="sticky-take-action">
                        <div class="indicator indicator--red indicator--take-action icon icon_write"></div>

                        <h4 class="hd-e sticky-take-action__heading">Support the school</h4>
                        <span class="sticky-take-action__action">Write to your Congressman</span>

                        <a href="#" class="btn btn--take-action" data-modal="take-action">Take Action</a>
                    </div>
                </div>
            </div>

            <main class="story__main-column" role="main">
                <article class="story story--page">
                    <header>
                        <h1 class="hd-j story__hed">{{ post.post_title }}</h1>

                        <h3 class="hd-k story__dek">{{ post.dek }}</h3>
                    </header>

                    <div class="story__content">
                        {{post.get_content}}
                    </div>
                </article>

                <div class="story__tags">
                    <ul class="tags-list">
                        {% for  category in post.categories %}
                            <li><a href="{{ category.link }}" class="tag">{{ category.name }}</a></li>
                    {%  endfor %}
                    </ul>
                </div>

                <div class="author-box cf">
                    <div class="author__a">
                        <img src="{{ post.author.mug_shot.url|resize(134,134) }}" class="author__portrait">

                        <div class="author__contact">
                            <a href="{{ post.author.user_url }}" class="author__url">{{ post.author.display_url }}</a>

                            <ul class="author__social">
                                {% if post.author.facebook_username is not empty %}
                                    <li><a href="http://www.facebook.com/{{ post.author.facebook_username }}" class="icon icon_facebook"></a></li>
                                {% endif %}
                                {% if post.author.twitter_username is not empty %}
                                    <li><a href="http://www.twitter.com/{{ post.author.twitter_username }}" class="icon icon_twitter"></a></li>
                                {% endif %}
                                {% if post.author.tumblr is not empty %}
                                    <li><a href="{{ post.author.tumblr }}" class="icon icon_tumblr"></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>

                    <div class="author__b">
                        <h2 class="hd-n author__byline"><a href="{{ post.author.user_url }}">{{ post.author.display_name }}</a></h2>
                        <p class="author__bio">{{ post.author.description }}</p>
                    </div>
                </div>

                <div class="ad ad--300 ad--pull">
                    <div class="ad__container">
                        <img src="http://placehold.it/300x250"/>
                    </div>
                </div>

                {% if post.call_to_action is not empty %}
                    {% include ['action-'~post.call_to_action.type~'.twig', 'empty.twig'] %}
                {% endif %}
                
                <div class="story__social cf">
                    <a href="{{ post.facebook_share_url }}" class="btn btn--bar btn--facebook icon icon_facebook">Share on Facebook</a>
                    <a href="{{ post.twitter_share_url }}" class="btn btn--bar btn--twitter icon icon_twitter">Share on Twitter</a>
                </div>

                <ul class="prev-next cf">
                    {% if post.next is not empty %}
                        <li>
                            <article class="story story--link">
                                <a href="{{ post.prev.permalink }}" class="link-wrapper">
                                    <div class="prev-next__link prev-next__link--prev cf">
                                        <span class="icon icon_arrow-circle-left fl"></span> Previous Story
                                    </div>
                                    <h4 class="hd-o story__hed">{{ post.prev.post_title }}</h4>
                                </a>
                            </article>
                        </li>
                    {%  endif %}
                    {% if post.next is not empty %}
                        <li>
                            <article class="story story--link">
                                <a href="{{ post.next.permalink }}" class="link-wrapper">
                                    <div class="prev-next__link prev-next__link--next cf">
                                        <span class="icon icon_arrow-circle-right fr"></span> Next Story
                                    </div>
                                    <h4 class="hd-o story__hed">{{ post.next.post_title }}</h4>
                                </a>
                            </article>
                        </li>
                    {%  endif %}
                </ul>
            </main>

            <div class="sidebar hide_mobile">
                {{ sidebar_story }}
            </div>
        </div>
    </div>

    {% if post.more_stories is not empty %}
        <div class="read-next">
            <div class="container">
                <h3 class="hd-g read-next__heading">Read Next</h3>

                <ul class="story-list">
                    {% for story in post.more_stories %}
                        <li>
                            <article class="story story--tease">
                                <a href="#" class="link-wrapper">
                                    <figure class="story__feature fl">
                                        <img src="{{ story.thumbnail.src|resize(600, 330) }}"/>
                                    </figure>

                                    <header class="story__header">
                                        <span class="rubric">{{ story.category }}</span>
                                        <h2 class="hd-d story__hed">{{ story.post_title }}</h2>
                                        <p class="story__dek">{{ story.dek }}</p>
                                    </header>
                                </a>
                            </article>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% include 'flyout.twig' %}

{% endblock %}