<article class="story story--tease story--tease--{{ post.content_type }}">
    <a href="{{ post.permalink }}" class="link-wrapper">
        {% if post.thumbnail is not empty %}
        <figure class="story__feature">
            <img src="{{ post.thumbnail.src|resize(748, 421) }}" alt="{{ post.thumbnail._wp_attachment_image_alt }}"/>

            <div class="type-indicator-container">
                <span class="icon icon_photo type-indicator type-indicator--photo"></span>
            </div>
        </figure>
        {% endif %}

        <header class="story__header">
            <span class="rubric">{{ post.category }}</span>
            <h2 class="hd-d story__hed">{{ post.tout_title }}</h2>

            {% block dek %}
            <p class="story__dek">{{ post.tout_dek_text }}</p>
            {% endblock %}

            {% if post.call_to_action is not empty %}
                {% include ['action-stats-'~post.call_to_action.type~'.twig', 'action-stats.twig'] %}
            {% endif %}
        </header>
    </a>
</article>