<article class="story story--tease">
    <a href="{{ post.permalink }}" class="link-wrapper">
        {% if post.thumbnail %}
        <figure class="story__feature">
            <img src="{{ post.thumbnail.src|resize(330, 330) }}"/>
        </figure>
        {% endif %}

        <header class="story__header">
            <span class="rubric">{{ post.category }}</span>
            <h2 class="hd-d story__hed">{{ post.post_title }}</h2>
            <p class="story__dek">{{ post.dek }}</p>

            {#<div class="support-cause support-cause--urgent">
                <h4 class="hd-c support-cause__heading">This cause still needs your help!</h4>

                <div class="support-cause__content">
                    <span class="support-cause__data support-cause__data--red">45<sup class="super">%</sup></span>
                    <span class="support-cause__label">from goal</span>

                    <span class="support-cause__separator icon icon_separator"></span>

                    <span class="support-cause__data support-cause__data--blue">2</span>
                    <span class="support-cause__label">days to go</span>
                </div>
            </div>#}
        </header>
    </a>
</article>