<div class="politician">
    {% if politician.photoUrl is not empty %}
        <img src="{{ politician.photoUrl }}" class="politician__photo" alt="{{ politician.name }}" />
    {% endif %}

    <h4 class="politician__name">{{ politician.name }}</h4>
    <span class="politician__office">{{ politician.party }} - {{ politician.office }}</span>
    <span class="politician__twitter">@{{ politician.twitter }}</span>

    <a href="{{twitterUrl }}" class="btn btn--solid btn--twitter btn--share">Tweet</a>
</div>